.active .animate01 {
	animation: fadeInDown 1s ease-in-out;
	padding-left: 50px;
}
.active .animate02 {
	animation: fadeInUp 1s ease-in-out;
}
.active .animate1 {
	animation: fadeInUp 1s ease-in-out;
	padding-left: 50px;
	text-align: right;
}
.active .animate2 {
	animation: fadeInDown 1s ease-in-out;
}
.active .animate3 {
	animation: fadeInLeft 1s ease-in-out;
}
.active .animate4 {
	animation: fadeInUp 1s ease-in-out;
}
.active .animate5 {
	animation: fadeInRight 1s ease-in-out;
}
.active .animate6 {
	animation: fadeInLeft 1s ease-in-out;
}
.active .animate7 {
	animation: fadeInUp 1s ease-in-out;
}
.active .animate8 {
	animation: fadeInLeft 1s ease-in-out;
}
.active .animate9 {
	animation: fadeInUp 1s ease-in-out;
}
.active .animate10 {
	animation: fadeInTopRight 1s ease-in-out;
}
.active .animate11 {
	animation: fadeInBottomRight 1s ease-in-out;
}
.active .animate12 {
	animation: fadeInLeft 1s ease-in-out;
}
.active .animate13 {
	animation: fadeInUp 1s ease-in-out;
}
.active .animate14 {
	animation: zoomInRight 1s ease-in-out;
}
.active .animate15 {
	animation: zoomInUp 1s ease-in-out;
	padding-left: 50px;
}
.active .animate16 {
	animation: fadeInRight 0.5s ease-in-out;
}

.sec1 {
	animation: fadeInLeft 0.5s ease-in-out;
}
.sec2 {
	animation: fadeInUp 0.5s ease-in-out;
}
.sec3 {
	animation: fadeInLeft 0.5s ease-in-out;
}
.sec4 {
	animation: fadeInUp 0.5s ease-in-out;
}
.sec5 {
	animation: fadeInLeft 0.5s ease-in-out;
}
.sec6 {
	animation: fadeInUp 0.5s ease-in-out;
}
.sec7 {
	animation: fadeInLeft 0.5s ease-in-out;
}

.sec-left1 h1,
.sec-left2 h1,
.sec-left3 h1,
.sec-left4 h1,
.sec-left5 h1,
.sec-left6 h1,
.sec-left7 h1 {
	animation: fadeInUp 1s ease-in-out;
}
.sec-left1 h3,
.sec-left2 h3,
.sec-left3 h3,
.sec-left4 h3,
.sec-left5 h3,
.sec-left6 h3,
.sec-left7 h3 {
	animation: fadeInLeft 1s ease-in-out;
}
.sec-left1 img,
.sec-left2 img,
.sec-left3 img,
.sec-left4 img,
.sec-left5 img,
.sec-left6 img,
.sec-left7 img {
	animation: fadeIn 1s ease-in-out;
}

/* Mobile Animation */

.owl-item.active .animate01 {
	animation: fadeInDown 1s ease-in-out;
	padding-left: 50px;
}
.owl-item.active .animate02 {
	animation: fadeInUp 1s ease-in-out;
}
.owl-item.active .animate1 {
	animation: fadeInUp 1s ease-in-out;
	padding-left: 50px;
	text-align: right;
}
.owl-item.active .animate2 {
	animation: fadeInDown 1s ease-in-out;
}
.owl-item.active .animate3 {
	animation: fadeInLeft 1s ease-in-out;
}
.owl-item.active .animate4 {
	animation: fadeInUp 1s ease-in-out;
}
.owl-item.active .animate5 {
	animation: fadeInRight 1s ease-in-out;
}
.owl-item.active .animate6 {
	animation: fadeInLeft 1s ease-in-out;
}
.owl-item.active .animate7 {
	animation: fadeInUp 1s ease-in-out;
}
.owl-item.active .animate8 {
	animation: fadeInLeft 1s ease-in-out;
}
.owl-item.active .animate9 {
	animation: fadeInUp 1s ease-in-out;
}
.owl-item.active .animate10 {
	animation: fadeInTopRight 1s ease-in-out;
}
.owl-item.active .animate11 {
	animation: fadeInBottomRight 1s ease-in-out;
}
.owl-item.active .animate12 {
	animation: fadeInLeft 1s ease-in-out;
}
.owl-item.active .animate13 {
	animation: fadeInUp 1s ease-in-out;
}
.owl-item.active .animate14 {
	animation: zoomInRight 1s ease-in-out;
}
.owl-item.active .animate15 {
	animation: zoomInUp 1s ease-in-out;
	padding-left: 50px;
}
.owl-item.active .animate16 {
	animation: slideInRight 1s ease-in-out;
}
