* {
	margin: 0;
	padding: 0;
}
p,
.row * {
	margin: 0;
	padding: 0;
}
.scrollSvg {
	display: flex;
	transition: all 0.5s ease;
}
.item {
	width: 350px;
	height: 350px;
	background-color: #5c00a0;
	margin: 10px;
	border-radius: 50%;
	position: fixed;
	left: 25%;
	z-index: 999;
}
#theLine {
	transition: all 0.5s ease;
}

.text-dim {
	color: rgb(226, 225, 225) !important;
}
.dotsfill1 {
	fill: rgb(0, 146, 255);
}
.dotsfill2,
.dotsfill3,
.dotsfill4,
.dotsfill5,
.dotsfill6,
.dotsfill7 {
	fill: rgba(255, 253, 253, 0.349);
}

#sec1_left {
	background-color: #5c00a0;
}
#sec2_left {
	background-color: #4918c5;
}
#sec2_right {
	background: #1a005e;
}
#sec3_left {
	background-color: #162539;
}
#sec3_right {
	background: #0e141b;
	overflow: hidden;
}
#sec4_left {
	background-color: #164b9d;
}
#sec4_right {
	background: #3cdedc;
	overflow: hidden;
}
#sec5_left {
	background: #05298d;
}
#sec5_right {
	background: url('images/room.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

/* #sec6_left {
	background: #05298d;
} */
#sec6_right {
	background: url('images/interior.jpg');
	background-size: cover;
	background-position: center right;
	overflow: hidden;
}
#sec7_left {
	background: #0b944d;
}
#sec7_right {
	background: #10cf6a;
	overflow: hidden;
}

section > div {
	height: 100vh;
}

/* Media quary for mobile device */
@media only screen and (max-width: 768px) {
	.scrollSvg {
		display: none;
	}
	.col-md-5,
	.col-md-7 {
		width: 100%;
		height: 50% !important;
	}
	#sec5_right p {
		top: 35% !important;
	}
	.animate8,
	.animate11,
	.animate15 {
		display: none;
	}
}
