* {
	margin: 0;
	padding: 0;
}
p,
.row * {
	margin: 0;
	padding: 0;
}
.scrollSvg {
	display: flex;
	transition: all 0.5s ease;
}
#scrollText {
	position: fixed;
	left: 20%;
	top: 12%;
	z-index: 9999;
	color: #fff;
	/* width: 15%; */
}
h2 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
}
h5 {
	text-align: end;
}
.item {
	width: 350px;
	height: 350px;
	background-color: #5c00a0;
	margin: 10px;
	border-radius: 50%;
	position: fixed;
	left: 25%;
	z-index: 999;
}
#theLine {
	transition: all 0.5s ease;
}

.text-dim {
	color: rgb(226, 225, 225) !important;
}
.dotsfill1 {
	fill: rgb(0, 146, 255);
}
.dotsfill2,
.dotsfill3,
.dotsfill4,
.dotsfill5,
.dotsfill6,
.dotsfill7 {
	fill: rgba(255, 253, 253, 0.349);
}

#section2 {
	background: #1a005e;
}
#section3 {
	background: #0e141b;
	overflow: hidden;
}
#section4 {
	background: #3cdedc;
	overflow: hidden;
}
#section5 {
	background: url('images/room.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

/* #sec6_left {
	background: #05298d;
} */
#section6 {
	background: url('images/interior.jpg');
	background-size: cover;
	background-position: center right;
	overflow: hidden;
}
#section7 {
	background: #10cf6a;
}

#sec_left {
	background: #5c00a0;
	transition: all 1s linear;
}
#sec_right {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	scrollbar-width: auto;
}
section {
	height: 100%;
	overflow: hidden;
	position: relative;
	scroll-snap-align: start;
	transition: all 0.3s linear;
}

/* Media quary for mobile device */
@media only screen and (max-width: 768px) {
	.scrollSvg {
		display: none;
	}
	.col-md-5,
	.col-md-7 {
		width: 100%;
		height: 50% !important;
	}
	#sec5_right p {
		top: 35% !important;
	}
	.animate8,
	.animate11,
	.animate15 {
		display: none;
	}
}
